.navbar{
    height: 15%;
    z-index: 999;
    .wrapper{
        max-width: 1366px;
        display: flex;
        align-items: center;
        height: 100%;
        span{
            font-weight: bold;
            font-size: 1.5em;
            position: absolute;
            left: 120px;
        }

    }
}

.social{
    display: flex;
    gap: 20px;
    position: absolute;
    right: 120px;
    i{
        font-size: 1.5em;
        transition: 0.3s ease;
    }
    i:hover{
        color: grey;
        transform: translateY(-8px) scale(1.2);
    }
}


@media screen and (max-width: 768px) {
    .wrapper {
        span{
            display: none;
        }
        .social{
            right: 20px;
            justify-content: flex-end;
        }
    }

    .bg{
        width: 200px;
    }
}