.main {
    height: 85%;
    overflow: hidden;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    background: linear-gradient(180deg, #0c0c1d, #111132);
}

.main-wrapper {
    position: absolute;
    left: 120px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;

    .main-name {
        font-size: 30px;
        z-index: 2;
        letter-spacing: 10px;
        font-weight: 600;
        color: #3F36A7;
    }

    .main-buttoms {
        display: flex;
        gap: 20px;

        button {
            position: relative;
            cursor: pointer;
            font-weight: 300;
            padding: 20px;
            border: 1px solid var(--lightgrray);
            border-radius: 10px;
            z-index: 2;
            color: var(--lightgrray);
            font-weight: 500;
            background-color: transparent;
            overflow: hidden;
            transition: border-color 0.3s ease;
        }

        button::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: var(--lightgrray);
            transition: width 0.3s ease;
            z-index: -1;
            /* Definindo um z-index menor para que o pseudo-elemento fique abaixo do texto */
        }

        button:hover::before {
            width: 100%;
        }

        button:hover {
            border-color: white;
            color: rgb(60, 60, 60);
        }



    }

    .main-title {
        font-size: 88px;
        z-index: 2;

    }
}

.main-image {
    position: absolute;
    top: 30%;
    right: 120px;
    width: 215px;
    height: 215px;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #3F36A7;
    border-radius: 50%;
    img {
        border: var(--primary) 5px solid;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        overflow: hidden;
    }
}

.main-icons {
    width: 40px;
    height: 60px;
    font-size: 1.2em;
    border-radius: 15px;
    border: 1px solid var(--lightgrray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-slidingText {
    z-index: 0;
    display: flex;
    font-weight: bold;
    align-items: end;
    font-size: 10vw;
    white-space: nowrap;
    color: #f2c1b609;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .main-wrapper {
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-content {
        width: 100%;
        background-color: brown 3px solid;
        align-items: center;
        text-align: center;

        .main-title {
            font-size: 86px;
            text-align: center;
            z-index: 0;
        }

        .main-name {
            font-size: 58px;
            letter-spacing: 5px;
        }

        .main-buttoms {
            button {
                font-size: 1.6em;
                padding: 30px;
            }
        }


    }

    .main-icons {
        width: 60px;
        height: 100px;
        border-radius: 20px;
        font-size: 1.8em;
    }

    .main-image {
        width: 205px;
        height: 205px;
        top: 70%;
        right: calc((100% - 205px) / 2); /* Calcula o valor de right para centralizar */
        img {
            width: 200px;
            height: 200px;
        }
    }
}

@media screen and (max-width: 768px) {
    .main-wrapper {
        left: 0px;
        justify-content: start;
    }

    .main-content {
        width: 100%;
        align-items: center;
        text-align: center;

        .main-title {
            font-size: 66px;
            text-align: center;
            z-index: 0;
        }

        .main-name {
            font-size: 38px;
            letter-spacing: 8px;
        }



    }
  
    .main-image {
        width: 205px;
        height: 205px;
        top: 70%;
        right: calc((100% - 205px) / 2); /* Calcula o valor de right para centralizar */
        img {
            width: 200px;
            height: 200px;
        }
    }
}

@media (max-width: 600px) {
    .main-wrapper {
        left: 0px;
        justify-content: start;
    }
 

    .main-content {
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 30px;
        .main-title {
            font-size: 36px;
            text-align: center;
            z-index: 0;
        }

        .main-name {
            font-size: 28px;
            letter-spacing: 5px;
        }

        .main-buttoms {
            button {
                font-size: 0.8em;
                padding: 10px;
            }
        }


    }
    .main-icons {
        width: 40px;
        height: 60px;
        border-radius: 15px;
        font-size: 1.2em;
    }
    .main-image {
        width: 155px;
        height: 155px;
        top: 70%;
        right: calc((100% - 155px) / 2); /* Calcula o valor de right para centralizar */
        img {
            width: 150px;
            height: 150px;
        }
    }
}