.main {
    height: 85%;
    overflow: hidden;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    background: linear-gradient(180deg, #0c0c1d, #111132);
}

.main-wrapper {
    position: absolute;
    left: 120px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;

    .main-name {
        font-size: 30px;
        z-index: 2;
        letter-spacing: 10px;
        color: rebeccapurple;
    }

    .main-buttoms {
        display: flex;
        gap: 20px;
        
          button {
            position: relative;
            cursor: pointer;
            font-weight: 300;
            padding: 20px;
            border: 1px solid var(--lightgrray);
            border-radius: 10px;
            z-index: 2;
            color: var(--lightgrray);
            font-weight: 500;
            background-color: transparent;
            overflow: hidden;
            transition: border-color 0.3s ease;
          }
          
          button::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: var(--lightgrray);
            transition: width 0.3s ease;
            z-index: -1; /* Definindo um z-index menor para que o pseudo-elemento fique abaixo do texto */
          }
          
          button:hover::before {
            width: 100%;
          }
          
          button:hover {
            border-color: white;
            color: rgb(60, 60, 60); 
          }
          

        
    }

    .main-title {
        font-size: 88px;
        z-index: 2;

    }
}


.main-image {
    position: absolute;
    bottom: 0;
    right: 80px;
    overflow: hidden;

    img {
        width: 200px;
        overflow: hidden;
    }
}

.main-icons {
    width: 40px;
    height: 60px;
    font-size: 1.2em;
    border-radius: 15px;
    border: 1px solid var(--lightgrray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-slidingText {
    z-index: 0;
    display: flex;
    font-weight: bold;
    align-items: end;
    font-size: 10vw;
    white-space: nowrap;
    color: #f2c1b609;
    width: 100%;
}



@media screen and (max-width: 768px) {
    .main-wrapper{
        left: 0px;
    }
    
    .main-content{
        width: 100%;
        align-items: center;
        text-align: center;
        .main-title {
            font-size: 36px;
            text-align: center;
            z-index: 0;
        }
        
        .main-name{
            font-size: 18px;
            letter-spacing: 5px;
        }
        .main-buttoms{
            button{
                padding: 10px;
            }
        }


    }
 
    .main-image{
        display: flex;
        justify-content: center;
        width: 100%;
        right: 0;

        img{
            width: 100px;
        }
    }
}