.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-main);
    color: var(--lightblack);

    .bg{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        z-index: 999;
        background: var(--white-main);
        height: 100%;


        .google-login-button {
            position: absolute;
            top: 25px;
            right: 25px;
            z-index: 9999; /* Valor alto para garantir que o botão esteja na parte superior */
        }

        .user-info{
            position: absolute;
            top: 25px;
            right: 25px;
            z-index: 9999; /* Valor alto para garantir que o botão esteja na parte superior */
            img{
                border-radius: 50%;
                width: 100%;
                max-width: 60px;
            }
        }
    }
  
    button{
        z-index: 999;
        width: 50px;
        height: 50px;
        border: 50%;
        position: fixed;
        top: 25px;
        left: 25px;
        background-color: transparent;
        border: none;
    
        cursor: pointer;
    }
}


@media screen and (max-width: 768px) {
   
    .sidebar{

        .bg{
            z-index: 100;
            width: 250px;
            .google-login-button {
                left: 0;
                top: 100px;
                overflow: hidden;
                width: 100%;
            }
            .user-info{
                max-width: 40px;
            }
            
        }

    }
}