#contato{
    height: 100vh;
}

.footer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;

    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        h1{
            font-size: 100px;
            line-height: 88px;
        }

        span{
            font-weight: 600;
        }
    }
    .tel-icon{
        stroke: orange;
        position: absolute;
        width: 100%;
        max-width: 500px;
        z-index: 1;
        display: flex;
        justify-content: center;
        svg{
            width: 300px;
        }
    }
    .footer-form{
        width: 500px;
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        input, textarea{
            z-index: 99;
            padding: 20px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            border-radius: 5px;
        }

        button{
            z-index: 99;
            padding: 20px;
            border: none;
            background-color: orange;
            cursor: pointer;
            font-weight: 600;
            transition: 0.6s;
        }

        button:hover{
            background-color: rgb(195, 130, 9);
            transform: scale(1.05);
        }

        .success{
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            background: linear-gradient(180deg, #068e0b, #033612);
        }
    }
}

@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
        padding: 10px;
        width: 100%;
        justify-content: space-around;
        gap: 10px;
        .footer-content{
            width: 100%;
            margin-top: -900px;
            gap: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;
            .footer-title{
                text-align: center;
                line-height: 36px;
                font-size: 36px;
                padding-top: calc(100vh - 100px);
            }
        }

        .footer-form{
            width: 100%;
            max-width: 300px;



            .tel-icon{
                width: 100%;
                left: 0;
            }
        }
    }
}