#contato {
    height: 100vh;
}

.footer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 100px;
            line-height: 88px;
        }

        span {
            font-weight: 600;
        }
    }

    .tel-icon {
        stroke: var(--orange-700);
        position: absolute;
        width: 100%;
        max-width: 500px;
        z-index: 1;
        display: flex;
        justify-content: center;

        svg {
            width: 300px;
        }
    }

    .footer-form {
        width: 500px;

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        input,
        textarea {
            z-index: 99;
            padding: 20px;
            background-color: transparent;
            border: 1px solid var(--white-main);
            color: white;
            border-radius: 5px;
        }

        button {
            z-index: 99;
            padding: 20px;
            border: none;
            background-color: var(--orange-700);
            cursor: pointer;
            font-weight: 600;
            transition: 0.6s;
        }

        button:hover {
            background-color: var(--orange-click);
            transform: scale(1.05);
        }

        .success {
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            background: linear-gradient(180deg, #068e0b, #033612);
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        flex-direction: column;

        .footer-content {
            width: 100%;
            margin-top: -85vh;
            
            gap: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;

            h1 {
                line-height: 56px;
                font-size: 62px;
                padding-top: calc(100vh - 100px);
            }
           
        }
        input, textarea{
            z-index: -1;
            font-size: 20px;
        }

        button{
            z-index: 0;
        }
        .footer-form {
            width: 100%;
            max-width: 500px;
            .form{
                height: 850px;
            }
            button{
                padding: 30px;
                font-size: 36px;
            }
            .tel-icon {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 10px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        gap: 0px;

        .footer-content {
            width: 100%;
            margin-top: -85vh;
            
            gap: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;

            h1 {
                line-height: 46px;
                font-size: 52px;
                padding-top: calc(100vh - 100px);
            }
           
        }

        .footer-form {
            width: 100%;
            max-width: 450px;

            .form{
                height: 600px;
            }
            button{
                padding: 20px;
                font-size: 25px;
            }
            .tel-icon {
                width: 100%;
                left: 0;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        padding: 10px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        gap: 0px;

        .footer-content {
            width: 100%;
            margin-top: -85vh;
            
            gap: 20px;
            text-align: center;
            justify-content: center;
            align-items: center;

            h1 {
                line-height: 26px;
                font-size: 22px;
                padding-top: calc(100vh - 100px);
            }
           
        }

        .footer-form {
            width: 100%;
            max-width: 300px;

            .form{
                height: 500px;
            }
            button{
                padding: 10px;
                font-size: 18px;
            }
            .tel-icon {
                width: 100%;
                left: 0;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .footer {
        flex-direction: column;
        padding: 10px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        gap: 10px;

        .footer-content {
            width: 100%;
            margin-top: -85vh;
            
            gap: 5px;
            text-align: center;
            justify-content: center;
            align-items: center;
           
            h1 {
                line-height: 26px;
                font-size: 22px;
                padding-top: calc(100vh - 100px);
            }

            h2{
                font-size: 18px;
            }

            span{
                font-size: 12px;
            }
           
        }

        .footer-form {
            width: 100%;
            max-width: 250px;

            .form{
                height: 400px;
            }
            button{
                padding: 10px;
                font-size: 18px;
            }
            .tel-icon {
                width: 100%;
                left: 0;
            }
        }
    }
}